<!--; Модуль 8. Події та бібліотеки -->

<!--! Делегування подій  -->

<!-- #region <!--:  Поширення подій -->

<!-- #endregion -->

<!-- #region <!--:  -->

<!-- #endregion -->

<!-- #region <!--:  -->

<!-- #endregion -->

<!-- #region <!--:  -->

<!-- #endregion -->

<!--! Бібліотеки -->
<!-- #region <!--:  -->

<!-- #endregion -->

<!-- #region <!--:  -->

<!-- #endregion -->

<!-- #region <!--:  -->

<!-- #endregion -->

<!-- #region <!--:  -->

<!-- #endregion -->

<!--! Деструктуризація -->
<!-- #region <!--:  -->

<!-- #endregion -->

<!-- #region <!--:  -->

<!-- #endregion -->

<!-- #region <!--:  -->

<!-- #endregion -->

<!--! Деструктуризація масивів  -->

<!-- #region <!--:  -->

<!-- #endregion -->

<!-- #region <!--:  -->

<!-- #endregion -->

<!-- #region <!--:  -->

<!-- #endregion -->