<div class="js-form-container fb fb-h">
    <!--! FORM  -->
    <form class="form box js-form">
        <input class="js-input form-control" name="title" placeholder="Title" />
        <input class="js-input form-control" name="image" placeholder="Image" />
        <textarea class="form-control" name="description" rows="10" placeholder="Description"></textarea>
        <!--! Radio Button  -->
        <div class="fb">
            <input type="radio" name="priority" value="hight" checked />Hight
            <input type="radio" name="priority" value="middle" />Middle
            <input type="radio" name="priority" value="low" />Low
        </div>
        <!--! Submit Button  -->
        <button class="form-control" type="submit">Create item</button>
    </form>

    <!--!  Card -->
    <div class="box" style="width: fit-content">
        <ul class="js-items list">
            samus reiciendis, dolorem sint doloremque ad deleniti
            nulla aliq

        </ul>
    </div>
</div>

<div class="backdrop">
    <div class="modalka"></div>
</div>