<!--; Модуль 8. Події та бібліотеки -->

<!--! 1 Делегування подій  -->

<!-- #region --> <!--: Поширення подій  -->
<!-- <div id="parent">
    Parent
    <div id="child">
        Child
        <div id="descendant"></div>
    </div>
</div>
 -->
<!-- #endregion -->

<!-- #region   --> <!--: Цільовий елемент -->

<!-- #endregion -->

<!-- #region   --> <!--: Припинення спливання -->

<!-- #endregion -->

<!-- #region   --> <!--: Делегування подій -->

<!-- <div class="box">
    <button>Button 1</button>
    <button>Button 2</button>
    <button>Button 3</button>
    <button>Button 4</button>
    <button>Button 5</button>
    <button>Button 6</button>
    <button>Button 7</button>
    <button>Button 8</button>
</div> -->

<!-- #endregion -->

<!-- #region   --> <!--: Перевірка цільового елемента події -->
<!-- <p class="output">Selected clolor: -</p>
<div class="color-palette"></div> -->
<!-- #endregion -->

<!--! 2 Бібліотеки -->

<!-- #region   --> <!--:^ - Бібліотеки  -->

<!-- #endregion -->

<!-- #region   --> <!--:^ - CDN (Content Delivery Network  -->

<!-- #endregion -->

<!-- #region   --> <!--: Підключення бібліотеки -->
<!-- <button id="open">Відкрити лайтбокс</button> -->
<!-- #endregion -->

<!-- #region   --> <!--:  -->

<!-- #endregion -->

<!--! 3 Деструктуризація -->

<!-- #region   --> <!--:  -->

<!-- #endregion -->

<!-- #region   --> <!--:  -->

<!-- #endregion -->

<!-- #region   --> <!--:  -->

<!-- #endregion -->

<!--! 4 Деструктуризація масивів  -->

<!-- #region   --> <!--:  -->

<!-- #endregion -->

<!-- #region   --> <!--:  -->

<!-- #endregion -->

<!-- #region   --> <!--:  -->

<!-- #endregion -->