<!--! 7 - 2 Властивості та атрибути -->

<!--   <ul id="menu" class="menu">
      <li class="menu-item">home</li>
      <li class="menu-item">about</li>
      <li class="menu-item">gallery</li>
      <li>blog</li>
    </ul> -->

<!-- : Доступ до властивостей -->
<!-- #region  -->

<!--; 1 -->
<!--  <a class="link" href="https://goit.global">GoIT</a>; -->
<!--; 2 -->
<!--     <img class="image" src="https://picsum.photos/id/9/320/240" alt="A laptop" width="300" />-->
<!-- #endregion -->

<!-- : Властивість textContent  -->
<!-- #region   -->
<!--; 1 -->
<!-- <p class="text">Username: <span class="sub-text">Mango</span></p> -->
<!-- #endregion -->

<!-- : Властивість classList -->
<!-- #region  -->
<!-- <a class="link is-active" href="https://goit.global">GoIT</a> -->

<!-- #endregion -->

<!-- : Властивість style -->
<!-- #region  -->
<!--  <button class="btn">Button</button> -->
<!-- #endregion -->

<!-- : Доступ до атрибутів -->
<!-- #region  -->

<!-- <img class="image" src="https://picsum.photos/id/15/320/240" alt="Rocks and waterfall" width="300" /> -->



<!-- #endregion -->

<!-- : Власні атрибути -->
<!-- #region  -->
<!--; 1 -->
<!--  <button type="button" data-action="save">Save text</button>
    <button type="button" data-action="close">Close editor</button> -->

<!--; 2 -->

<!-- <h2>Товари</h2>
    <button data-name="Яблуко" data-price="20">Додати Яблуко </button>

    <p id="cart"></p> -->

<!--; 3 -->

<!--  <h2>Hangar</h2>
    <button data-id="A" data-fuel="100">Scan</button>
    <p id="ship"></p> -->

<!-- #endregion -->

<!--! 7 - Створення та видалення елементів -->

<!-- : Створення елементів -->
<!-- #region  -->
<!-- #endregion -->

<!-- : Додавання елементів -->
<!-- #region  -->
<!-- <h1>Hangar</h1>
    <ul class="hangar">
      <li>Ship A</li>
      <li>Ship B</li>
      <li>Ship C</li>
    </ul> -->

<!-- #endregion -->

<!-- : Властивість innerHTML -->
<!-- #region  -->
<!-- <article class="article">
      <h2 class="title">Article title</h2>
      <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, ipsa quibusdam!
        <strong>Praesentium</strong> accusantium fugiat distinctio quidem minima fugit eos, veniam, nam laboriosam
        deleniti
        nisi qui neque explicabo perspiciatis, consectetur non.
      </p>
      <a class="link" href="">Read more</a>
    </article> -->

<!--; 2  -->

<!-- <section>
      <h2>Popular ships</h2>
      <ul class="list"></ul>
    </section> -->

<!--; 3  -->

<!--  <article class="article">
      <h2>Article title</h2>
    </article>
 -->

<!-- #endregion -->

<!-- : Метод insertAdjacentHTML() -->
<!-- #region  -->

<!--  <ul class="list">
      <li class="list-item">HTML</li>
      <li class="list-item">CSS</li>
      <li class="list-item">JavaScript</li>
    </ul> -->

<!-- #endregion -->

<!--! Події -->

<!-- : Метод addEventListener() -->
<!-- #region  -->

<!-- #endregion -->

<!-- : Метод removeEventListener() -->
<!-- #region  -->
<!--   <button class="btn js-add">Add listener</button>
    <button class="btn js-remove">Remove listener</button>
    <button class="btn target-btn">Click Button</button> -->
<!-- #endregion -->

<!-- : Об'єкт події -->
<!-- #region  -->
<!--   <button type="button" class="btn">Click</button> -->
<!-- #endregion -->

<!-- : Події клавіатури -->
<!-- #region  -->

<!-- #endregion -->

<!--! Події -->

<!-- : Подія submit -->
<!-- #region  -->
<!-- ; 1 -->
<!-- <form action="">
      <button type="submit">Sumbit button</button>
    </form> -->

<!-- ; 2 -->

<!--  <form class="form" autocomplete="off">
      <input type="text" name="login" placeholder="Login">
      <input type="password" name="password" placeholder="Password">
      <button class="btn" type="submit">Register</button>
    </form> -->

<!-- #endregion -->

<!-- : Подія change -->
<!-- #region  -->
<!--  <p>
      Selected option text: <span class="text-output">none</span>
    <p>
    <p>
      Selected option value: <span class="value-output">none</span>
    <p>

      <select class="pizza-select">
        <option value="four_meats">Four Meats</option>
        <option value="royal_cheese">Royal Cheese</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="smoked_salmon">Smoked Salmon</option>
      </select> -->

<!-- #endregion -->

<!-- : Подія input -->
<!-- #region  -->

<!--  <input type="text" class="text-input">
    <p>Text field <span class="output"></span></p> -->

<!-- #endregion -->


<!-- : Подія focus and blur -->
<!-- #region  -->
<!--  <button type="button" data-action="set">Set focus to input</button>
    <button type="button" data-action="remove">Remove focus from input</button>
    <br><br>
    <input type="text" class="text-input" /> -->

<!-- #endregion -->