<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script type="module" src="../main.js"></script>
</head>

<body>
    <!-- <button type="button" class="btn">Click me</button> -->

    <!-- <button type="button" class="btn js-set">Set Timeout</button>

    <button type="button" class="btn js-clear">clear Timeout</button> -->



    <button class="btn js-start">Start</button>
    <button class="btn js-stop">Stop</button>
</body>

</html>