/*; 8  */

/* ! 1 ------ Делегування подій ------- */

/*: Поширення подій  */
/* #region  */

/* #parent,
#child,
#descendant {
    margin: 16px;
    padding: 16px;
    border: 4px solid #212121;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

#parent {
    background-color: #673ab7;
}

#child {
    background-color: #448aff;
}

#descendant {
    background-color: #ff9800;
}

/* #endregion */


/*: Делегування подій */
/* #region  */

/* #endregion */

/*: Перевірка цільового елемента події*/
/* #region  */
/* body {
    margin: 8px;
    font-family: sans-serif;
}

.output {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.color-palette {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 4px;
}

.color-palette .item {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

.color-palette .item:hover {
    transform: scale(1.1);
} */

/* #endregion */

/*!  ------ Task 1------- */

body {
    font-family: 'Inter', 'Segoe UI', sans-serif;
    color: #f2f2f2;
    background-color: #0f1418;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* щоб Priority було великими літерами */
}

p {
    color: #d1d1d1;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}

input,
textarea,
button {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 0.9rem;
}

.js-form-container {}

.fb {
    display: flex;
}

.fb-h {
    flex-direction: row;
    justify-content: space-evenly;
}

.form {
    border-radius: 5px;
    background-color: rgb(102, 131, 88);
}

.box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    border-radius: 5px;


}

.js-form {
    height: 500px;
    padding: 15px 10px;

}

.js-input {}

.form-control {}

.js-items {}

.list {
    display: flex;
    row-gap: ;
    gap: 20px;
    height: 300px;
    /* обмежена висота */
    overflow-y: auto;
    /* вертикальна прокрутка */
    border: 1px solid #ccc;
    padding: 10px;
    scrollbar-width: thin;
}

.item {
    padding: 20px;
    margin-bottom: ;
    background-color: rgb(150, 189, 189);
    flex: 0 0 200px;
    /* Фіксована ширина картки */
    height: 150px;
    background: #eee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hight {}

.item-desc {}

.backdrop {}

.modalka {}