.main-module-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.module-list-item {
    text-align: center;
    width: 100px;
    border: 1 solid green;
    border-radius: 5px;
    background-color: rgb(61, 121, 81);
    transition: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.module-list-item:hover,
.module-list-item:focus {
    background-color: rgb(96, 156, 116);
}

.module-list-item.active {
    background-color: rgb(196, 103, 103);
}