/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./js-module-7.css');
@import url('./js-module-8.css');
@import url('./js-module-9.css');
@import url('./js-module-10.css');
@import url('./js-module-11.css');
@import url('./js-module-12.css');
@import url('./footer.css');


* {
  box-sizing: border-box;
}

body {
  padding: 16px;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-width: 2px;
  border-style: dashed;
}

.list-item.new::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: green;
}

.list-item:nth-child(even) {
  border-color: tomato;
}

.list-item:nth-child(odd) {
  border-color: blueviolet;
}

.list-item:not(:last-child) {
  margin-bottom: 8px;
}

.main-module-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.module-list-item {
  text-align: center;
  width: 100px;
  border: 1 solid green;
  border-radius: 5px;
  background-color: rgb(61, 121, 81);
  transition: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.module-list-item:hover,
.module-list-item:focus {
  background-color: rgb(96, 156, 116);
}

.module-list-item.active {
  background-color: rgb(196, 103, 103);
}